<form action="/pets" method="post">
  <label for="new_pet_name">Name</label>
  <input type="text" name="Name">

  <label for="new_pet_age">Age</label>
  <input type="text" name="Age">

  <label for="new_pet_color">Color</label>
  <input type="text" name="Color">

  <input type="submit" value="Submit">
</form>
