<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>rent-a-pet</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
  <link href="https://fonts.googleapis.com/css?family=Ceviche+One|Kumar+One|Fredericka+the+Great" rel="stylesheet">
</head>

<body>
  <%= yield %>
  <script src="/javascripts/app.js"></script>
</body>
</html>
