.details {
  text-align: center;
  background: #0bfc15;
  width: 50%;
  margin-left: 25%;
  font-family: 'Fredericka the Great', cursive;
}

.details h1 {
  border: 2px solid black;
  width: 150px;
  height: 60px;
  border-radius: 40px;
  text-align: center;
  padding-top: 30px;
  display: inline-block;
  margin-right: 5px;
  box-shadow: 5px 5px 5px black;
  background-color: yellow;
}

.details li {
  font-size: 60px;
  list-style: none;
  padding-bottom: 50px;
}
